{#test de mise en forme#}
{#<style>#}
    {#div{ border : 1px solid black;}#}
    {#ul{ border : 1px solid red;}#}
    {#li{ border : 1px solid yellow;}#}
    {#a{ border : 1px solid blue;}#}
    {#nav{ border : 3px solid green;}#}
{#</style>#}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="{{ path('homePage') }}"><img class="ico" src="{{ asset('images/logoFrite.png') }}"></a>
    {# bouton toggle#}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{#lien vers différentes pages#}
    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homePage') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{  path('photo') }}">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('info') }}">Info Pratique</a>
            </li>
{#lien pour aller sur la page admin          #}
            {% if is_granted("ROLE_ADMIN") %}
                {#<li class="nav-item"><a class="nav-link" href="{{ path('navAdmin') }}">Admin</a></li> #}{#menu admin créer avec le crud#}{# #}
                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Admin</a></li>{#menu admin avec easyAdmin#}
            {% endif %}
{#rendu du menu déroulants des menus#}
            {{ render(controller('App\\Controller\\CategoryMenuController::categoryMenuAction')) }}
{#Menu Panier#}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ render(controller('App\\Controller\\PanierController::menu')) }}
            {% endif %}
{#barre de recherche en cour de développement #}
            {#{{ render(controller('App\\Controller\\MenuController::recherche')) }}#}
        </ul>
{#rendu du menu login et logOut#}
        {{ render(controller('App\\Controller\\AuthController::AuthAction')) }}


    </div>
</nav>
