{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styleDescription.css') }}">
{% endblock %}

{% block title %}Description{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ description.category.namecat }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6"><img src="{{ asset('images/Delicefrite/null.jpg') }}"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col"><h3>{{ description.name }}</h3><br></div>
                </div>
                <div class="row">
                    <div class="col-6"> {{ description.price|number_format(2,',',' ') }}€</div>
                    <div class="col-6">Panier  </div>
                </div>
                <div class="row">
                    <div class="col">{{ description.description|raw }}</div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for description in description.products %}
                           <li style="list-style:inside"> {{ description.title }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            image
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for description in description.products %}
                                <img  src="{{ asset ('images/')}}{{ description.image.path }}" alt="{{ description.image.alt }}"/>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <form action="panier.php">


                            <select name="qte" class="span1">
                                {% for i in 1..10 %}
                                <option>{{ i }}</option>
{% endfor %}
                            </select>

                            <div>
                                <button class="btn btn-primary">Ajouter au panier</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {#{% for menu in menus %}#}
        {#{%  set counter = ( counter | default(0) ) + 1%}#}
        {#{% if counter == 1 %}#}
            {#<h1>{{ menu.category.namecat }} </h1>#}
        {#{% endif %}#}
        {#<div class="bar">#}
            {#<span class="left">#}
                {#<h4><a href="/description/{{ menu.id }}">{{ menu.name|upper }}</a></h4>#}

            {#</span>#}
            {#<span class="right">#}
                {#{{ menu.price|number_format(2,',',' ') }}€#}
            {#</span>#}
            {#{% for menu in menu.products %}#}
                {#<span class="titleProduct">#}
                    {#<button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top"  title="Description">Description</button>#}
                    {#<button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top"  title="Add to panier" > Add </button>#}
                        {#<img  src="{{ asset ('images/')}}{{ menu.image.path }}" alt="{{ menu.image.alt }}"/>#}
                {#</span>#}
                {#<br>#}
            {#{% endfor %}#}
        {#</div>#}
    {#{% endfor %}    #}
{% endblock %}