{% extends 'base.html.twig' %}
{% block title %}{{ title }} {{ description.category.namecat }} {{ description.name }}{% endblock %}
{% block description %}{{ description.name }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styleDescription.css') }}">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ description.category.namecat }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6"><img src="{{ asset('images/Delicefrite/null.jpg') }}"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col"><h3>{{ description.name }}</h3><br></div>
                </div>
                <div class="row">
                    <div class="col-6"> {{ description.price|tva(description.tva.multiplicate)|number_format(2,',',' ') }} €</div>
                    {#<div class="col-6"> {{ description.price|number_format(2,',',' ') }}€</div>#}
                    <div class="col-6">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            Panier
                        {% endif %}
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <br>
                        {{ description.description|raw }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for description in description.products %}
                           <li style="list-style:inside"> {{ description.title }}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            image
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for description in description.products %}
                                <img  src="{{ asset ('images/')}}{{ description.image.path }}" alt="{{ description.image.alt }}"/>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        {# ajouter un menu deroulant plus le bouton ajouter produit#}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <form action="{{ path('ajouter',{'id':description.id}) }}" class="form-inline my-2 my-md-0" method="get">
                            <select name="qte" class="span1">
                                {% for i in 1..10 %}
                                <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            <div>
                                {% if panier[description.id] is not defined %}
                                    <a class="btn-outline-secondary btn-sm " href="{{ path('ajouter',{'id':description.id}) }}" style="width: 16ch">Ajouter au panier</a>
                                {% else %}
                                    <a class="btn-outline-secondary btn-sm " href="{{ path('panier') }}"   style="width: 16ch"> Déjà au panier   </a>
                                {% endif %}
                            </div>
                        </form>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {#{% for menu in menus %}#}
        {#{%  set counter = ( counter | default(0) ) + 1%}#}
        {#{% if counter == 1 %}#}
            {#<h1>{{ menu.category.namecat }} </h1>#}
        {#{% endif %}#}
        {#<div class="bar">#}
            {#<span class="left">#}
                {#<h4><a href="/description/{{ menu.id }}">{{ menu.name|upper }}</a></h4>#}

            {#</span>#}
            {#<span class="right">#}
                {#{{ menu.price|number_format(2,',',' ') }}€#}
            {#</span>#}
            {#{% for menu in menu.products %}#}
                {#<span class="titleProduct">#}
                    {#<button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top"  title="Description">Description</button>#}
                    {#<button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top"  title="Add to panier" > Add </button>#}
                        {#<img  src="{{ asset ('images/')}}{{ menu.image.path }}" alt="{{ menu.image.alt }}"/>#}
                {#</span>#}
                {#<br>#}
            {#{% endfor %}#}
        {#</div>#}
    {#{% endfor %}    #}
{% endblock %}