{% extends 'base.html.twig' %}


{% block title %}{{ title }} - Menu
    {% for menu in menus %}
        {% set counter = ( counter | default(0) ) + 1 %}
        {% if counter == 1 %}
            {{ menu.category.namecat }}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block description %}Les différents menus{% endblock %}

{#{% block stylesheets %}#}
    {#<style >div{#}
        {#border: 1px solid black }#}
{#</style>#}
{#{% endblock%}#}
{% block body %}
    <br>
    <div class="container">

        {% for menu in menus %}
            {% set counter = ( counter | default(0) ) + 1 %}
            {% if counter == 1 %}
                <div class="row">
                    <div class="col">
                        <h1>{{ menu.category.namecat }} </h1>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="titreMenuContainer">
                        <span class="left">
                            <h4><a href="/description/{{ menu.id }}">{{ menu.name|upper }}</a></h4>
                        </span>
                        <span class="right">
                             {{ menu.price|tva(menu.tva.multiplicate)|number_format(2,',',' ') }} €
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if panier[menu.id] is not defined %}
                                <a class="btn-outline-secondary btn-sm " href="{{ path('ajouter',{'id':menu.id}) }}" style="width: 16ch">Ajouter au panier</a>
                            {% else %}
                                <a class="btn-outline-secondary btn-sm " href="{{ path('panier') }}"   style="width: 16ch"> Déjà au panier   </a>
                            {% endif %}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div><br></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}