{% extends 'base.html.twig' %}
    {% block title %}{{ title }} - Validation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('css/css/font-awesome.css') }}">

{% endblock %}

{#{%  set totalHT = 0 %}#}
{#{%  set totalTTC = 0 %}#}
{#{% set refTva= [] %}#}
{#{% for menu in menus %}#}{# initialisaton des clés pour les TVA #}
    {#{% set refTva = refTva|merge({ (menu.tva.valeur)~' %':0 }) %}#}{#merge -> permet d'inserer une Tva dés quelle est différente la valeur de la tva#}
{#{% endfor %}#}
{% block body %}
    {#{% for menu in commande.commande.menu%}#}
        {#<h1>{{ menu.quantite }}</h1>#}
        {#}#}

        {#{% endfor %}#}
    <h1>Valider mon parnier</h1>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
            <br>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Références</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Total HT</th>

                        </tr>
                        </thead>

                        <tbody>
                        {% for menu in commande.commande.menu %}
                            <tr>
                                <td>{{ menu.reference }}</td>
                                <td>
                                    {{ menu.quantite }}
                                </td>
                                <td>{{ menu.prixHT|number_format(2,',',' ') }}€</td>
                                <td>{{ (menu.prixHT * menu.quantite)|number_format(2,',',' ')}}€</td>
                            </tr>
                            {#{%  set totalHT = totalHT +(menu.price *panier[menu.id ])%}#}
                            {#{% set totalTTC = totalTTC +(menu.price *panier[menu.id ]) %}#}
                            {#{% set refTva = refTva|merge({ (menu.tva.valeur ~' %' ) : refTva[ menu.tva.valeur~' %'] + (menu.price * panier[menu.id])| montantTva(menu.tva.multiplicate)}) %}#}

                        {% endfor %}
                        </tbody>
                    </table>


                <dl class="dl-horizontal pull-right">
                    <dt>Total HT :</dt>
                    <dd>{{  commande.commande.prixHT|number_format(2,',',' ') }}€</dd>
                    <dt>TVA :</dt>
                    {% for key, tva in commande.commande.tva %}
                        <dd style="text-align: right">
                            {{ key }} :
                            {{ tva |number_format(2,',',' ')}}€
                        </dd>
                    {%  endfor %}
                    <dt>Total TTC:</dt>
                    <dd>{{ commande.commande.prixTTC|number_format(2,',',' ') }}€</dd>
                </dl>
                <div class="span3 pull-left">
                    <dl class="pull-left">
                        <dt><h6>Adresse de livraison</h6></dt>
                        <dt>{{ commande.commande.livraison.nom|capitalize}} {{ commande.commande.livraison.prenom|capitalize }}</dt>
                        <dt>{{ commande.commande.livraison.adresse }}</dt>
                        <dt>{{ commande.commande.livraison.cp }} {{ commande.commande.livraison.ville }}</dt>
                        <dt>{{ commande.commande.livraison.complement }}</dt>
                        <dt>{{ commande.commande.livraison.pays }}</dt>
                    </dl>
                </div>
                <div class="span3 pull-left">
                    <dl class="pull-left">
                        <dt><h6>Adresse de facturation</h6></dt>
                        <dt>{{ commande.commande.facturation.nom|capitalize}} {{ commande.commande.facturation.prenom|capitalize }}</dt>
                        <dt>{{ commande.commande.facturation.adresse }}</dt>
                        <dt>{{ commande.commande.facturation.cp }} {{ commande.commande.facturation.ville }}</dt>
                        <dt>{{ commande.commande.facturation.complement }}</dt>
                        <dt>{{ commande.commande.facturation.pays }}</dt>
                        <dt>{{ commande.id }}</dt>
                    </dl>
                </div>
                <div class="clearfix"></div>

                <form action="{{ path('validationCommande',{'id':commande.id}) }}" method="post"/>
                    <input name="token" type="hidden" value="{{ commande.commande.token }}"/>
                    <input name="prix" type="hidden" value="{{ commande.commande.prixTTC }}"/>
                    <input name="date" type="hidden" value="{{ commande.date|date('Ymdhms') }}"/>
                <button type="submit" class="btn btn-success pull-right">Payer</button>
                </form>
                <a href="{{ path('livraison') }}" class="btn btn-primary">Retour</a>

                <br>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
{% endblock %}